go 1.23

use (
	./api-collector
	./api-collector-go
	./api-collector-java
	./api-collector-node
	./api-collector-python
	./api-formatter
	./api-formatter-curl
	./api-formatter-markdown
	./api-formatter-postman
	./api-master
	./api-model
	./apilot-cli
)
